:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20:#212429;
  --gray10:#616161;
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
}

body{
  color: #212121;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a{
  color: var(--gray30);
}

header{
  font-size:14px;
  width:188px;
  color:var(--gray10);
  position:absolute;
  top:64px;
  left:-232px;
  z-index: 1;
}

header li{
  margin-bottom:16px;
}


header a{
  color: var(--gray10);
  text-decoration:none;
}

header a:hover{
  color: #8888ff;
}

nav details summary{
  font-weight: bold;
  line-height: 24px;
}

h1{
  font-size:60px;
  margin-top: 64px;
  margin-bottom:16px;
  font-weight: normal;
  /* margin-left: 20px;
  margin-right: 10px; */
}

h1 ~ p{
  margin-bottom: 64px;
}

hr {
  margin: 64px 0;
}

h2{
  font-size:2em;
  margin: 64px 40px;
  font-weight:normal;

}
h3{
  font-size:1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position:sticky;
  top:0;
  background:white;
}

pre{
  background: #FEC62E;
  /* margin: 40px; */
  padding: 40px;
  /* padding-left: 40px; */
  font-family: 'Roboto';
  line-height:24px;
}

blockquote{
  font-size: 24px;
  margin-top: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
}

blockquote span{
  color:var(--gray10);
}

.header{
  position:sticky;
  top:0;
}




.debug{
  background: red;
}

/* .header{
  position:relative;
} */

.header-content{
  position:relative;
}

.wrapper{
  background:white;
  width:902px;
  margin:auto;
}

.main-content{
  background:white;
}

.section-content:first-of-type{
  /* background:red; */
  margin:0;
}

.section-content{
  margin-top: 164px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content ol li{
  line-height: 24px;
}

.hero{
  /* background: #8888ff; */
  background-image: linear-gradient(to top,rgba(255,255,255,0.3) ,transparent),  url(../images/patron-1.png); /*usamos transparente para el degradado*/
  /* background-image: linear-gradient(to top,rgba(255,255,255,0.3),red 20px,transparent),  url(../images/patron-1.png); */
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom 100px; */
  /* background-size: cover; */
  height: 350px;
}

.section-content + hr{
  display:none;
}

.section-content img{
  margin-top: 40px;

}

.section-content{
  counter-reset:titleList;
}

.section-content h3{
  counter-increment: titleList;
  padding-bottom: 8px;
}


.section-content h3::before{
  /* content: counter(titleList,upper-roman) */
  content: counter(titleList) ". ";
}

.section-content h3::after{
  content: '';
  width: 80px;
  height: 4px;
  background: black;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom:0;
}

::selection{
 background:#ddddff;
}

