:root {
  font-size: 18px;
  --white30: white;
  --white20:#A5A3A5;
  --white10:#3A3539;
}

p{
  color:var(--white20)
}

html{
  font-size: 16px;
}

body{
  color: #212121;
  font-family: 'Nunito', sans-serif;
  background: #251F24;
  color: var(--white30);
  margin: 0;
  /* writing-mode: vertical-lr; */

  /* modo fisico */
  /* margin: 0 100px; */

  /* modo logico  */
  /* el margen inline es el margen a lo largo de la
  linea de lectura para visualizar esto activar
  writing-mode: vertical-lr;*/
  /* margin-inline: 100px; */
  /* margin-block: 100px; */
  /* margin-block-start: 50px; */

}

a{
  color: var(--white30);
}

header a{
  color: var(--white20);
  text-decoration:none;
}

header a:hover{
  color: white;
}

header li{
  color: var(--white20);
}

nav details summary{
  font-weight: bold;
}

h1{
  font-size:40px;
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2{
  font-size:2em;
  font-weight: normal;
  margin-block: 40px;
}

h3{
  font-size:1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr{
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

ol li {
  color:var(--white20)
}

ul li {
  color:var(--white20)
}

pre{
  background-color:var(--white10);
  padding:40px;
  overflow:auto;
  border-radius:8px;
  border:10px solid #314755;

  /* border-left:5px solid blue; */
  /* Su equivalente en valores logicos
  es el siguiente */
  /* border-inline-start: 5px solid #ea00ff;
  border-block: 20px solid pink;
  border-inline-end: 5px solid green; */
  border: 10px solid #5551ff;
  box-shadow: -10px 10px 0 0 #ABAAF6;
  margin-block-end: 40px;
  border-start-start-radius: 40px;
  border-end-end-radius: 20px
}

header{
  margin-block-start: 20px;
  font-size:14px;
  color:var(--white30);

  /* Equivalente a top */
  /* inset-block-start: 0px; */

  /* Equivalente a bottom */
  /* inset-block-end: 0px; */

  /* Equivalente a left */
  /* inset-inline-start: 0px; */

  /* Equivalente a rigth */
  /* inset-inline-end: 0px; */
}

.header-content{
  padding-inline: 20px;
}

.header-content ol li {
  /* background-color:red; */
  margin-block-end: 20px;
}

.hero{
  /* background: #8888ff; */
  /* background-image: linear-gradient(to top,rgba(255,255,255,0.3) ,transparent),  url(../images/patron-1.png); usamos transparente para el degradado */
  /* background-image: linear-gradient(to top,rgba(255,255,255,0.3),red 20px,transparent),  url(../images/patron-1.png); */
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom 100px; */
  /* background-size: cover; */
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 70px;
}

.section-content{
  counter-reset:titleList;
}

.section-content img{
  margin-block-start:40px;
  display:block;
  max-inline-size: 100%;
  /* el equivalente en valores fisicos */
  /* max-width: 100%; */
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{
  /* content: counter(titleList,upper-roman) */
  content:  counter(titleList) ". ";
}

/* .section-content h3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;

} */

::selection{
 background:#314755;
}

blockquote{
  margin-block-start: 80px;
  margin-block-end: 63px;
  border-radius: 8px;
  background-color: var(--white10);
  padding-inline-end: 24px;
  padding-inline-start: 24px;
  padding-block-end: 24px;
  padding-block-start: 24px;
  line-height:32px;
  font-size:24px;
}

blockquote p{
  color:var(--white30)
}

.main hr{
  display: none;
}

.wrapper{
  /* border: 5px solid yellow; */
  /* Usar  inline-size en logico en lugar de lugar
  width*/
  /* border: 5px solid yellow; */
  /* inline-size: 900px; */

  /* usar block-size en vez de height */
  /* para max-width y max-height usar los
  equivalentes logicos max-inline-size y
  max-block-size*/
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding-inline:16px;
}

.video{
  margin: 0;
  display:inline-block;
  width: 100%;
  height:auto;
  aspect-ratio:16/9;
}

.slider-container {
  /* block-size: 100px; */
  display:block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  /* Quita el espacio entre los videos del slide */
  font-size:0;
}

.slider-bullet-list{
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet{
  display:inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color:white;
  border-radius: 50%;
}

.form input{
  inline-size:100%;
  border:1px solid var(--white30);
  background-color:#251F24;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color:var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input::-webkit-input-placeholder{
  color:var(--white20);
}

.form input[type="submit"]{
  background-color: #157EFB;
  border: none;
}

.footer{
  margin-block-start: 80px;
  block-size: 174px;
  inline-size: 100%;
  background-color:white;
}

.footer h3{
  color: black;
  text-align: center;
  font-weight: normal;
  padding-top: 48px;
}

.footer figure{
  text-align: center;
}

.footer img{
  margin-inline: 8px;
  block-size:24px;
}

/* Responsive design */
@media screen and (min-width: 1366px){
  .hero {
    block-size: 350px;
  }

  .header{
    position:sticky;
     inset-block-start: -45px;
  }

  .header-content{
    position:relative;
    inset-block-start:65px;
    padding-inline:0;
  }

  header{
    font-size:14px;
    color:var(--white30);
    position: absolute;
    /* Equivalente a top */
    /* inset-block-start: 0px; */

    /* Equivalente a bottom */
    /* inset-block-end: 0px; */

    /* Equivalente a left */
    /* inset-inline-start: 0px; */

    /* Equivalente a rigth */
    /* inset-inline-end: 0px; */

    inset-block-start:0px;
    inset-inline-start: -208px;
    inline-size: 188px;
  }

  h1 {
    font-size:60px;
    margin-block-start: 64px;

  }
}